 fieldset {
  background-color: rgb(212, 207, 181);/*se apagar deixa transparente*/
   border: 1px solid rgb(156, 121, 69); /* Adiciona uma borda para visualização */
    border-radius: 10px; /* Arredonda todos os cantos */
margin-top: 100px;
  padding: 25px;
  width: 200px; 
margin-left: 600px;
 }

#inicio {
     border-radius: 10px;
background-color: rgb(243, 239, 233);
margin-left: 50px;
padding: 10px

}

#desconectar{
     border-radius: 10px;
    background-color: rgb(243, 239, 233);
margin-top: 10px;
margin-left: 68px;
padding: 10px

}

h1 {

margin-left: 20px;


}
 #playAleatoria {
position: absolute;
     border-radius: 10px;
background-color: rgb(243, 239, 233);
padding: 10px;
top: 10px;
left: 10px;
     }

#pauseMusica{
position: absolute;
border-radius: 10px;
background-color: rgb(243, 239, 233);
padding: 10px;
top: 10px;
left: 120px;
}



