  body{
    text-align: center;
    margin: 0;
    padding: 0;

      background-image: url("2.jpg");
          background-repeat: no-repeat;
          background-size: cover;
 }
 
 fieldset{
 background-color: rgb(212, 207, 181);

padding: 80px 20px;

border: 1px solid rgb(156, 121, 69);   border-radius: 10px; 
  
 max-width: 500px;
 
 margin: 100px auto;
  }

  h2{
   position: relative ;
   margin-top: -30px; 
  }

button{
    position: relative;
    text-align: center;
    border-radius: 10px; 
    padding: 10px;
    margin-top: 20px;
}

#enunciado{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    max-width: 500px;
}

/*botoes da musica*/

#playAleatoria {

position: absolute;
     border-radius: 10px;
background-color: rgb(243, 239, 233);
padding: 10px;
top: 10px;
left: 10px;
     }


#pauseMusica{
position: absolute;
border-radius: 10px;
background-color: rgb(243, 239, 233);
padding: 10px;
top: 10px;
left: 120px;
}

button:active {
  transform: scale(0.95);
}

#desconectar{

  margin: 0;
}

